@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Schibsted+Grotesk:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
}

.row {
  margin: 0 7.5rem;
}

.text__yellow {
  color: #ffa800;
}

.logo__text {
  font-family: Schibsted Grotesk;
  font-size: 2rem;
  font-weight: 500;
}

.header__logo {
  align-items: center;
  gap: 24px;
  display: flex;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__link {
  font-size: 1.125rem;
  text-transform: capitalize;
  font-family: Proxima Nova;
}

.hero__container {
  display: flex;
  align-items: center;
  margin: 100px 0;
  gap: 40px;
}

.hero-left__section {
  width: 60%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  text-transform: capitalize;
}

p {
  line-height: 150%;
}

.hero__features {
  display: flex;
  align-items: center;
}

.hero__para {
   font-size: 1.5rem;
}

.hero__button {
  display: flex;
  padding: 14.5px 24px;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  width: 40%;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
background: #FFBF23;
}

.hero__feature--text {
   font-size: 1rem;
}

.hero__left--bottom {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.hero__feature {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 25%;
  color: #2D264B;
}

.hero__right {
   width: 40%;
   

}
